body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo_rss{
    width: 135px;
    height: 50px;
    background-image: url(https://rs.school/images/rs_school_js.svg);
    background-repeat: no-repeat;
    background-color: gray;
    opacity: 0.5;
    border-radius: 5px;
}
.logo_rss:hover{
    opacity: 1;
}
.author{
    text-decoration: none;
    color: #333;
}
.author:hover{
    color: #555;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
